/*--------------------------------------NAV-LINK--------------------------------------*/
.NavContenedor{
   
    display: grid !important;
    grid-template-columns: 1fr 1fr  !important;
    grid-template-rows: auto auto !important;
}
.ContenedorNavLink{
    
    grid-column-start: 2 !important;
    grid-column-end: 3 !important;
    grid-row-start: 1 !important;
    grid-row-end: 1 !important;

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.Navlink{
    color: black !important;
    font-size: 20px;
}
.Icon{
    color: white !important;
    background-color: #009600;
    border-radius: 30px;
    padding: 10px;
}
/*--------------------------------------LOGO--------------------------------------*/
.ContenedorLogo{
    width: 100%;
    height: auto;
    
    grid-column-start: 1 !important;
    grid-column-end: 2 !important;
    grid-row-start: 1 !important;
    grid-row-end: 1 !important;
}
.Logo{
    width: 100%;
    height: 100%;
}



/*--------------------------------------@MEDIA SCREEN--------------------------------------*/
@media screen and (max-width: 1000px){
    .Icon{
        color:  #009600 !important;
        background-color: white;
    }
    
/*--------------------------------------GRILLA--------------------------------------*/
.ContenedorNavLink{
    
    grid-column-start: 1 !important;
    grid-column-end: 3 !important;
    grid-row-start: 2 !important;
    grid-row-end: 3 !important;

    
}
.ContenedorLogo{
    
    grid-column-start: 1 !important;
    grid-column-end: 3 !important;
    grid-row-start: 1 !important;
    grid-row-end: 2 !important;
}
}
@media screen and (max-width: 1200px){
    .Navlink{
        font-size: 100%;
    }
}
