/*------------------------------------CARRUSEL------------------------------------*/
.Carruselfondo{
    display: block;
    height: auto;
    width: 100%;
    background-color: green;
    color: black;
    margin: auto;
    position: relative;
}
.Carruselcontainer{
    width: 100%;
    height: auto;
}
.Carrusel{
    display: block;
    width: 100%;
    height: auto;
}
.ContenedorButton{
    height: auto;
    position: absolute; top: 70%; left: -25% !important;
}
.ButtonC{
    width: auto !important;
    height: auto !important;
    color: white !important;
    background-color: #009e00 !important;
    font-size: 20px !important;
    padding: 0px 60px !important;
    border: transparent !important;
    border-radius: 50px !important;
}
.ButtonC:hover{
    cursor: pointer !important;
    color: #009600 !important;
    background-color: white !important;
    border: solid #009600 !important;
}
@media screen and (max-width: 1000px){
    .ButtonC{
        font-size: 20px !important;
    }
}
@media screen and (max-width: 700px){
    .ButtonC{
        font-size: 15px !important;
    }
}
@media screen and (max-width: 500px){
    .ButtonC{
        font-size: 10px !important;
        padding: 0px 20px !important;
    }
    .ContenedorButton{
        position: absolute; top: 60%; left: -25% !important;
    }
}
/*------------------------------------VIDEO------------------------------------*/
.Video{
    display: block;
    height: 200px;
    width: 100%;
    background-color: white;
    border: solid black;
    color: black;
    text-align: center;
}
/*------------------------------------ECONEWS------------------------------------*/
.Fondoeconews{
    display: block;
    height: auto;
    width: 100%;
    background-color: #009e00;
    position: relative;
}
.Imagen{
    display: block;
    height: auto;
    width: 100%;
  
}
.ContenedorButtonE{
    width: 100%;
    height: auto;
    position: absolute ; top: 90%;
}
.ContenedorButtonE{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
}
.ButtonE{
    border-radius: 40px !important;
    background-color: white !important;
    color: green !important;
    border: solid transparent !important;

    grid-column-start: 2 !important;   
    grid-column-end: 3 !important;

    grid-row-start: 1 !important;
    grid-row-end: 3 !important;
    font-size: 30px !important;
}
.ButtonE:hover{
    cursor: pointer !important;
    color: white !important;
    background-color: #009600 !important;
    border: solid white 2px !important;
}
@media screen and (max-width: 1000px){
    
    .ButtonE{
        font-size: 15px !important;
        margin: 5px 0px !important;
    }

    .ContenedorButtonE{
        width: 100%;
        height: auto;
        position: absolute ; top: 85%;
    }
}
@media screen and (max-width: 500px){
    .ButtonE{
        font-size: 10px !important;
    }
}

@media screen and (max-width:340px){
    .ButtonE{
        font-size: 5px !important;
    }
    .ContenedorButtonE{
        width: 100%;
        height: auto;
        position: absolute ; top: 80%;
    }
}
/*------------------------------------PERSONALIZAR------------------------------------*/
.Personalizarfondo{
    display: block;
    height: auto;
    width: 100%;
    background-color: rgb(124, 119, 119);
    position: relative;
}
.Imgpersonalizar{
    display: block;
    height: 100%;
    width: 100%;
}
.ContenedorButtonP{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute ; top: 70%;
    width: 100%;
    height: auto;
}
.ButtonP{
    border-radius: 40px !important;
    background-color: white !important;
    color: green !important;
    border: solid transparent !important;

    grid-column-start: 2 !important;   
    grid-column-end: 3 !important;

    grid-row-start: 1 !important;
    grid-row-end: 3 !important;
    margin: 5px 0px !important;
    font-size: 30px !important;
    margin: 20px 0px !important;
}
.ButtonP:hover{
    cursor: pointer !important;
    color: white !important;
    background-color: #009600 !important;
    border: solid white 2px !important;
}
@media screen and (max-width: 1000px){
    
    .ButtonP{
        font-size: 15px !important;
        margin: 5px 0px !important;
    }
}
@media screen and (max-width: 500px){
    .ContenedorButtonP{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 30px;

    }
    .ButtonP{
        font-size: 10px !important;
        margin: 5px 0px !important;
    }
}
@media screen and (max-width: 300px){
    .ContenedorButtonP{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 20px;

    }
    .ButtonP{
        font-size: 5px !important;
        margin: 5px 0px !important;
    }
}
/*------------------------------------ELEGIRNOS------------------------------------*/
.Elegirnosfondo{
    display: block;
    height: auto;
    width: 100%;
    background-color: rgb(201, 198, 198);
    color: black;
    
}
.Imgelegirnos{
    display: block;
    height: 100%;
    width: 100%;
}

