.NavBar{
    background-color: white;
}
.NavLink{
    color: rgb(15, 189, 15) !important;
    margin-left: 60px;
}
.altura{
    color: black;
}
.separado{
    margin-left: 50%;
}
.Carrusel{
    display: block;
    height: 100%;
    width: 100%;
}
.Video{
    background-color:green;
    text-align: center;
    height: 400px;
    width: 100%;
    border: solid 1px black;
}
.FondoEco{
    border: solid 1px black;
    height: 700px;
    width: 100%;
}
.Tittle{
    color: green;
    text-align: center;
    margin-top: 100px;
}
.EcoTexto{
    color: black;
    text-align: center;
    margin-top: 60px;
    font-size: 100px;
}
.EcoLineas{
    font-size: 20px;
}
.Button{
    margin-top: 100px;
    font-size: 30px !important;
    padding-left: 100px !important;
    padding-right: 100px !important;
    text-align: center !important;
    border-radius: 20px !important;
}
.PossitionButton{
    margin-left: auto !important;
    margin-right: auto !important;
}
.FondoPersonalizar{
    width: 100%;
    height: 600px;
    border: solid 1px black;
}