.Footerfondo{
    display: block;
    height: auto;
    width: 100%;
    background-image: url("../assetsSrc/Footer.png");
    border: solid black;

}

/*----------------------------PROPIEDADES CONTENEDOR PADRE E HIJOS----------------------------*/
.Contenedor{
    border: solid black;
    width: 95%;
    height: 400px;
    margin: 20px 20px;
}
.Contenedor>div{
    border: solid black;
    text-align: center;
    font-size: 60px;
}
/*----------------------------GRID CONTENEDOR PADRE----------------------------*/
.Contenedor{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
}
/*----------------------------GRID LOGO----------------------------*/
.Contenedor .Logo{
    background-color: transparent;
    color: white;
    /*Le estoy diciendo que ocupe solo la Columna 1*/
    grid-column-start: 1;   
    grid-column-end: 1;
    /*Le estoy diciendo que ocupe la Fila 1 y la Fila 2*/
    grid-row-start: 1;
    grid-row-end: 3;
    height: auto;
}
.Imagenlogo{
    width: 100%;
    height:auto;
    display: block;
}
/*----------------------------GRID PIBI CREDITOS----------------------------*/
.Contenedor .Pibicreditos{
    background-color: transparent;
    color: white;
    /*Le estoy diciendo que ocupe solo la Columna 1*/
    grid-column-start: 1;   
    grid-column-end: 4;
    /*Le estoy diciendo que ocupe la Fila 1 y la Fila 2*/
    grid-row-start: 3;
    grid-row-end: 4;

    font-size: 20px;
}
/*----------------------------GRID TEXTOS----------------------------*/
.Contenedor .Texto1{
    background-color: transparent;
    color: white;
}
.Leyenda1{
    font-size: 40%;
    margin: 0px;
    
}
.Contenedor .Texto2{
    background-color: transparent;
    color: white;
}
.Leyenda2{
    font-size: 40%;
    margin: 0px;
    
}
/*----------------------------GRID GMAIL----------------------------*/
.Contenedor .Gmail{
    background-color: transparent;
    color: white;
}
.Leyendamail{
    font-size: 40%;
    color: white;
}
.Leyendamail:hover{
    
    color: white;
}
.Iconogmail{
    padding-bottom: 20px;
}
/*----------------------------GRID INSTRAGRAM----------------------------*/
.Contenedor .Instagram{
    background-color: transparent;
    color: white;
}
.Leyendainstagram{
    font-size: 40%;
    color: white;
}
.Leyendainstagram:hover{
    
    color: white;
}